<div class="wrapper">
  <div class="sidebar" data-background-color="brown" data-active-color="danger">
    <!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
    <div class="logo">

      <a href="#" class="simple-text">
        Data Monitor
      </a>
    </div>
    <div class="logo logo-mini">
      <a href="#" class="simple-text">
        Mint
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active">
          <a href="/">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="">
            <i class="ti-widget"></i>
            <p>About</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
            <i class="ti-arrow-left"></i>
          </button>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> Dashboard </a>
        </div>
    </nav>
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-big icon-warning text-center">

                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                        <path
                          d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z" />
                      </svg>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="numbers">
                      <p>Bitcoin Price</p>
                      <span id="bitcoin_price" class="text-success"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-alert text-warning"></i> From coingecko
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-big icon-warning text-center">
                      <i class="ti-cup"></i>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="numbers">
                      <p>比特币市值占比</p>
                      <span id="bitcoin_dominace"></span>

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-tag text-warning"></i><span id="bitcoin_dominace_date"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-big icon-success text-center">
                      <i class="ti-money"></i>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="numbers">
                      <p>S2F预期比特币价格(年)</p>
                      <span id="s2f_btc_predict_year" class="text-success"></span>
                      <span id="s2f_btc_predict_year_change"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-calendar"></i>
                  <span id="s2f_btc_date"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-big icon-success text-center">
                      <i class="ti-stats-up"></i>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="numbers">
                      <p>60日涨幅</p>
                      <span id="acc_increase_btc_day60"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-tag text-warning"></i> 江卓尔累计涨幅模型
                  <span id="acc_increase_btc_day60_date"></span>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="icon-big icon-info text-center">
                      <i class="ti-server"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="numbers">
                      <p>币安比特币余额</p>
                      <span id="bitcoin_balance_binance" class="text-success"></span>
                      <span id="bitcoin_change_binance"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-tag text-warning"></i><span id="bitcoin_date_binance"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="icon-big icon-info text-center">
                      <i class="ti-server"></i>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="numbers">
                      <p>所有交易所比特币余额</p>
                      <span id="bitcoin_balance_all" class="text-success"></span>
                      <span id="bitcoin_change_all"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="ti-tag text-warning"></i><span id="bitcoin_date_all"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="content">
                    <h4 class="title">
                     60日累计涨幅</a>
                       <a href="https://www.qkl123.com/data/acc_increase/btc" target="_blank"><i class="ti-new-window"></i></a>
                    </h4>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                          <tr>
                            <th>日期</th>
                            <th>7日累计涨幅</th>
                            <th>30日累计涨幅</th>
                            <th class="info">60日累计涨幅</th>
                            <th>90日累计涨幅</th>
                            <th>当日币价</th>
                          </tr>
                        </thead>
                        <tbody id="acc_increase_list">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="content">
                    <h4 class="title">
                     S2F预测模型
                       <a href="https://www.qkl123.com/data/s2f/btc" target="_blank"><i class="ti-new-window"></i></a>
                    </h4>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                          <tr>
                            <th>日期</th>
                            <th>S2F(年) </th>
                            <th>S2F(月)</th>
                            <th class="info">预期价格(年)</th>
                            <th>预期价格(月)</th>
                            <th>当日币价</th>
                          </tr>
                        </thead>
                        <tbody id="s2f_list">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="content">
                    <h4 class="title">
                    交易所比特币余额
                   <a href="https://studio.glassnode.com/metrics?a=BTC&category=Exchanges&m=distribution.BalanceExchanges&s=1541566551&u=1628726400&zoom=" target="_blank"> <i class="ti-new-window"></i></a>
                  </h4>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                          <tr>
                            <th>日期</th>
                            <th>交易所</th>
                            <th>余额</th>
                            <th class="info">变化</th>
                            <th>币种</th>
                          </tr>
                        </thead>
                        <tbody id="exchange_balance_list">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        

 
        <!--  <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul>
        </nav> -->
        <p class="copyright pull-right">

          Version: v0.01
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>
          <a href="http://www.mintventures.fund/" target="_blank">Mint Ventures</a>
        </p>
      </div>
    </footer>
  </div>

</div>
<!--   Core JS Files   -->
<script src="/vendors/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/vendors/jquery-ui.min.js" type="text/javascript"></script>
<script src="/vendors/bootstrap.min.js" type="text/javascript"></script>
<script src="/vendors/material.min.js" type="text/javascript"></script>
<script src="/vendors/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="/vendors/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/vendors/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="/vendors/charts/flot/jquery.flot.js"></script>
<script src="/vendors/charts/flot/jquery.flot.resize.js"></script>
<script src="/vendors/charts/flot/jquery.flot.pie.js"></script>
<script src="/vendors/charts/flot/jquery.flot.stack.js"></script>
<script src="/vendors/charts/flot/jquery.flot.categories.js"></script>
<script src="/vendors/charts/chartjs/Chart.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="/vendors/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="/vendors/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="/vendors/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="/vendors/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="/vendors/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyAurmSUEQDwY86-wOG3kCp855tCI8lHL-I"></script>
<!-- Select Plugin -->
<script src="/vendors/jquery.select-bootstrap.js"></script>

<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="/js/bootstrap-checkbox-radio-switch-tags.js"></script>

<!-- Circle Percentage-chart -->
<script src="/js/jquery.easypiechart.min.js"></script>

<!--  DataTables.net Plugin    -->
<script src="/vendors/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="/vendors/sweetalert/js/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="/vendors/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="/vendors/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="/vendors/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="/js/amaze.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>

<script src="/js/charts/flot-charts.js"></script>
<script src="/js/charts/chartjs-charts.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

    demo.initVectorMap();
    demo.initCirclePercentage();

  });
  //设置比特币价格
  $.getJSON("https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd", function (result) {
    $.each(result, function (i, field) {

      $("#bitcoin_price").text("$" + field.usd);
      $("title").text("$" + field.usd+"/BTC");
    });
  });
  //设置比特币交易所LIST
  $.getJSON("/balance", { sort: "id desc", limit: 7 }, function (result) {
    var innerHTML = '';
    $.each(result, function (i, field) { 
      if (null != field) {
        var b = field.balance.toFixed(2);/*保留两位小数*/
        var change = field.change.toFixed(2);
        var date = new Date(field.date * 1000);
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = date.getDate() + '';
        innerHTML += '<tr>';
        innerHTML += ' <td>' + Y + M + D + '</td>';
        innerHTML += ' <td>' + field.exchange + '</td>';
        innerHTML += ' <td>' + b + '</td>';
        innerHTML += ' <td>' + change + '</td>';
        innerHTML += ' <td>' + field.symbol + '</td>';
        innerHTML += '</tr>';
      }
    });
    $("#exchange_balance_list").html(innerHTML);
  });

  //设置币安交易所比特币余额
  $.getJSON("/balance", { exchange: "Binance", sort: "id desc", limit: 1 }, function (result) {
    $.each(result, function (i, field) {
      var b = field.balance.toFixed(2);/*保留两位小数*/
      var change = field.change.toFixed(0);
      var date = new Date(field.date * 1000);
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = date.getDate() + '';
      $("#bitcoin_balance_binance").text(b);
      if (change < 0) {
        $("#bitcoin_change_binance").addClass("text-success");
        $("#bitcoin_change_binance").text("(" + change + ")");
      } else {
        $("#bitcoin_change_binance").addClass("text-danger");
        $("#bitcoin_change_binance").text("(+" + change + ")");
      }
      $("#bitcoin_date_binance").text(" " + Y + M + D + "更新");
    });
  });
  //设置ALL交易所比特币余额
  $.getJSON("/balance", { exchange: "ALL", sort: "id desc", limit: 1 }, function (result) {
    $.each(result, function (i, field) {
       var b = field.balance.toFixed(0);/*保留两位小数*/
       var change = field.change.toFixed(0);
       var date = new Date(field.date * 1000);
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = date.getDate() + '';
       $("#bitcoin_balance_all").text(b);
      if (change < 0) {
        $("#bitcoin_change_all").addClass("text-success");
        $("#bitcoin_change_all").text("(" + change + ")");
      } else {
        $("#bitcoin_change_all").addClass("text-danger");
        $("#bitcoin_change_all").text("(+" + change + ")");
      }
      $("#bitcoin_date_all").text(" " + Y + M + D + "更新");
    });
  });


  //设置60日涨幅(列表)
  $.getJSON("/getAccData", {limit:7}, function (result) {
    var innerHTML = '';
      var day7;
      var day30;
      var day60;
      var day90;
      var day1;
      var price;
      var date;
    $.each(result, function (i, field) {
       d= field.date * 1000;
       date = new Date(d);
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = date.getDate() + '';
      day7 = field.day7.toFixed(2);
      day30 = field.day30.toFixed(2);
      day60 = field.day60.toFixed(2);
      day90 = field.day90.toFixed(2);
      day1 = field.day1.toFixed(2);
      price = field.price.toFixed(2);
      if (null != field) {
        innerHTML += '<tr>';
        innerHTML += ' <td>' + Y + M + D + '</td>';
        innerHTML += ' <td>' + day7 + '%</td>';
        innerHTML += ' <td>' + day30 + '%</td>';
        innerHTML += ' <td class="info">' + day60 + '%</td>';
        innerHTML += ' <td>' + day90 + '%</td>';
        innerHTML += ' <td class="text-primary">' + price + '(' + day1 + '%)</td>';
        innerHTML += '</tr>';
      }
    });
    $("#acc_increase_list").html(innerHTML);
  });

  //设置江卓尔累计模型最新60天的数字
  $.getJSON("/getAccData?limit=1",function (result) {
    $.each(result, function (i, field) {
      d= field.date * 1000;
      date = new Date(d);
      Y = date.getFullYear() + '-';
      M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
      D = date.getDate() + '';
      day60 = field.day60.toFixed(2);
      if (field.day60 >= 0) {
        $("#acc_increase_btc_day60").addClass("text-danger");
        $("#acc_increase_btc_day60").text(day60 + "%");
      } else {
        $("#acc_increase_btc_day60").addClass("text-success");
        $("#acc_increase_btc_day60").text(day60 + "%");
      }
      $("#acc_increase_btc_day60_date").text(Y + M + D);
    });
  });

  //设置S2F数据(列表)
  $.getJSON("/s2fbtc", { sort: "id desc", limit: 7 }, function (result) {
    var innerHTML = '';
    $.each(result, function (i, field) {
      if (null != field) {
        innerHTML += '<tr>';
        innerHTML += ' <td>' + field.date + '</td>';
        innerHTML += ' <td>' + field.s2fYear + '(' + field.s2fYearChange + ')</td>';
        innerHTML += ' <td>' + field.s2fMonth + '(' + field.s2fMonthChange + ')</td>';
        innerHTML += ' <td class="info">' + field.predictYear + '(' + field.predictYearChange + ')</td>';
        innerHTML += ' <td>' + field.predictMonth + '(' + field.predictMonthChange + ')</td>';
        innerHTML += ' <td class="text-primary">' + field.price + '(' + field.change + ')</td>';
        innerHTML += '</tr>';
      }
    });
    $("#s2f_list").html(innerHTML);
  });
  //设置S2F(年)最新的数字
  $.getJSON("/s2fbtc", { sort: "id desc", limit: 1 }, function (result) {
    $.each(result, function (i, field) {
      if (field.predictYearChange.indexOf("-") >= 0) {
        $("#s2f_btc_predict_year_change").addClass("text-danger");
        $("#s2f_btc_predict_year_change").text("(" + field.predictYearChange + ")");
      } else {
        $("#s2f_btc_predict_year_change").addClass("text-success");
        $("#s2f_btc_predict_year_change").text("(" + field.predictYearChange + ")");
      }
      $("#s2f_btc_predict_year").text(field.predictYear);
      $("#s2f_btc_date").text(field.date + "更新");
    });
  });
   //设置 MCD
  $.getJSON("/coin", { sort: "id desc", limit: 1 }, function (result) {
    $.each(result, function (i, field) {
        var date = new Date(field.createdAt);
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = date.getDate() + '';
      $("#bitcoin_dominace").text(field.mcd);
      $("#bitcoin_dominace_date").text(Y + M + D + "更新");
    });
  });

</script>